form{
    width: 300px;
    margin: 5% auto;
    text-align: center;
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
}

#tabelaDiv{
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

form input{
    margin-bottom: 10px;
}


#btnAlterar,
#btnRemover,
#btnCancelar{
    display: none;
}